.card {

    background-color: var(--color-card);
    padding: var(--space-lg);
    border-radius: var(--radius-md);
    margin-bottom: var(--space-md);
}

.card_title {
    font-weight: 400;
    margin-bottom: var(--space-sm);
    color: var(--color-white);
}

.card_text {
    font-size: 0.875rem;
    margin-bottom: var(--space-md);
    color: var(--color-white);
}

.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: var(--radius-pill);
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}

.navbar {
    background-color: var(--color-black);
    font-weight: bold;
    color: rgb(201, 200, 200);
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.home_icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    fill: #1ed760;
}

.home_icon:hover {
    cursor: pointer;
}

.search_icon {
    position: relative;
}

.search_icon svg {
    position: absolute;
    margin-left: 12px;
    color: rgb(255, 255, 255);
    transform: scale(0.5);
    width: 58px;
    height: 65px;
    top: -32px;
    left: -7px;
}

.search_icon:hover {
    cursor: pointer;
}

.search_input {
    flex: 1;
    padding: 15px 15px 15px 69px;
    border-radius: 50px;
    width: 520px;
    border: 2px solid #444;
    background-color: var(--color-card);
    color: white;
    transition: all 0.2s ease;
}

.search_input::placeholder {
    color: rgb(201, 200, 200);
    font-size: 16px;
}

.search_input:hover,
.search_input:focus {
    background-color: #333;
    border-color: #1ed760;
    outline: none;
}

.material-symbols-outlined {
    color: #1ed760;
    font-size: 26px;
    position: absolute;
    right: -154px;
}

.material-symbols-outlined::before {
    content: "";
    background-color: transparent;
    padding: 10px;
    position: absolute;
    right: 39px;
    border-right: 2px solid rgb(166, 166, 166);
    height: 35px;
    top: -5px;
}

.install {
    font-weight: bold;
    color: rgb(201, 200, 200);
    text-decoration: none;
}

.install > p {
    font-weight: bold;
    color: rgb(201, 200, 200);
}

.install_icon {
    width: 18px;
    height: 18px;
    margin-left: 2px;
    color: rgb(201, 200, 200);
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(201, 200, 200);
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.links li a:hover {
    transform: scale(1.05);
    color: var(--color-white);
    cursor: pointer;
}

.links::after {
    content: "";
    background-color: transparent;
    padding: 10px;
    position: absolute;
    right: -18px;
    border-right: 2px solid rgb(166, 166, 166);
    height: 27px;
}

.auth {
    font-weight: bold;
    color: rgb(201, 200, 200);
    text-align: center;
}

.auth a {
    text-decoration: none;
    color: inherit;
}

.log_in {
    padding: 15px;
    width: 110px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

    clip-path: inset(50%);
}


/* Trending Section Card  */

.trend-song-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;    
    object-fit: cover;     
    border-radius: var(--radius-sm);   
}


.trending
{
    color: var(--color-white);
}
.trend-song-card a
{
    text-decoration: none;
    color: #b3b3b3;
}

.card-link .trend-song-title , .trend-song-artist
{

    font-size: 16px;
    color: white;
    margin: 5px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

a
{
    display: block;
}


.trend-song-title
{
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;

}


/* Green play button */

.play-button {
    background-color: #1ed760;
    width: 50px;
    height: 50px;
 
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.03s ease-in;
}
.play-button:hover
{
    transform: scale(1.03);
    background-color: #4cfa89;

}

.play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-40%, -50%);
    border: 15px solid transparent;
    border-left-color: var(--color-black);
}

