body {
    background-color: var(--color-black);
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    min-height: 100vh;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 450px;
    background-color: var(--color-dark);
    padding: var(--space-md);
}


