
body {
    background-color: var(--color-black);
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    min-height: 100vh;
}

.layout {
    display: flex;
    height: 100vh;
    margin-top: -13px;
    gap: 1px;
}

.sidebar {
    width: 21%;
    background-color: var(--color-dark);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    margin-left: 8px;
    margin-top: 4px;
    height: 80vh;
}

.main
{
    background-color: var(--color-dark);
    width:77% ;
    margin: 5px auto;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 10px;
    gap: 40px;
    height: 80vh;
}


/* navbar */

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
    width: 40px;
    height: 40px;
    margin: 12px;
}

.icon_searchbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    transform: translate(20%);
    
}

.home_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex: 2; */
    margin-right: -172px;
}



.search_input
{
    flex: 1;
    border: none;
    outline: none;
    display: flex; 
    padding-left: 10px;
}





.links
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    transform: translate(-38%)
}

.install
{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    transform: translate(-52%);
}

.auth
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transform: translateX(-12%);
}




/* Trending */

.trending,.popular-artists {
    margin: 15px;
}

.trending-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 14PX;
}

.section-title {
    width: 100%;
    margin: 13px 0;

}

.play-button {
    position: absolute;
    cursor: pointer;
    bottom: 104px;
    left: 116px;
    display: none;
    transform: translateY(15px);
    transition: 0.2s transform ease-in-out,
     0.2s display ease-in-out;
}

.trend-song-card {
    width: 201px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.trend-song-card:hover {
    background-color: #1f1f1f;
}

.trend-song-card:hover .play-button
{
    display: block;
    transform: translateY(-15px);
}
